<h1>Newsfeed</h1>
<div>
  <ul class="newsfeedItems">
    <li *ngFor="let newsfeedItem of newsfeedItems"> 
      <span class="badge">{{newsfeedItem.date}}</span>{{newsfeedItem.text}}
    </li>
  </ul>
</div>
<h2>Enter a new newsfeed entry:</h2>
<div>
  <span>Pending date: {{newsfeedItem.date}}</span>
  <br><span>Pending text: {{newsfeedItem.text}}</span>
  <br><label>Date: 
    <input [(ngModel)]="newsfeedItem.date" type="date">
  </label>
  <br><label>New entry text:
      <input [(ngModel)]="newsfeedItem.text" placeholder="new entry text">
    </label>
    <br><br><input type="submit" value="Submit" (click)="addNewsfeedItem(); newsfeedItem.text = ''; newsfeedItem.date=''"> 
</div>

<router-outlet></router-outlet>
